@tailwind base;
@tailwind components;
@tailwind utilities;

.demo-loadmore-list {
  min-height: 350px;
}

.ant-card-head-title {
  font-size: 3em;
}
.ant-card{
  border-radius: 0px !important;
}

@font-face {
  font-family: "Agatho_Regular";
  src: url("../../fonts/Agatho_Regular.otf");
}
@font-face {
  font-family: "Agatho_Bold";
  src: url("../../fonts/Agatho_\ BoldCAPS.otf");
}

body{
background-color: #f0ece2;
}
:root {
  --font-agatho: "Agatho_Regular";
  --font-bold:"Agatho_Bold"
}

.font {
  font-family: var(--font-agatho);
}

.font-logo{
  font-family: var(--font-bold);
}
.font-spacing{
  letter-spacing:1.5vw;
  font-size:12vw ;
}

@media screen and (max-width: 768px) {
  .font-spacing {
    font-size: 10.3vw;
  }
  .ant-card-head-title {
    font-size: 2em;
  }

}